layout {
    pane_template name="plain-pane" borderless=true
    default_tab_template {
        plain-pane size=1 {
            plugin location="zjstatus"
        }

        children
    }

    tab name="󰅩 Code" {
        plain-pane command="nvim"
    }
    
    tab name=" Term" focus=true {
        plain-pane
    }

    tab name=" Git" {
        plain-pane command="lazygit"
    }
}
